// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
    spawn-at-startup "/home/thomas/code/github.com/uhthomas/niri-edid-color/session-autostart"
